@import "./normalize.scss";

.head-container-s {
    padding-bottom: 10px;
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px 10px 0;
      input {
        height: 30.5px;
        line-height: 30.5px;
      }
    }
    .el-form-item-label {
      margin: 0 3px 9px 0;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      font-size: 14px;
      color: #606266;
      line-height: 30.5px;
      padding: 0 7px 0 7px;
    }
    .el-button+.el-button {
      margin-left: 0 !important;
    }
    .el-select__caret.el-input__icon.el-icon-arrow-up{
      line-height: 30.5px;
    }
    .date-item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
      height: 30.5px !important;
      width: 230px !important;
    }
  }

  .filter-user {
    font-size: small;
    height: 33px;
    width: 200px;
    margin: 0 3px 10px 0;
    width: 200px; 
    display: block; 
    float: left;
    margin: 8px 5px;
    input {
      height: 30.5px;
      line-height: 30.5px;
    }
}

.filter-date {
  font-size: small;
  display: block;
  height: 33px;
  width: 250px !important;
  float: left;
  margin: 8px 5px;
  input {
    height: 30.5px;
    line-height: 30.5px;
  }
}

.user-op-button {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  margin: 8px 5px;
}

.filter-status {
  font-size: small;
  display: inline-block;
  height: 33px;
  width: 80px;
  margin: 8px 5px;
  vertical-align: middle;
  float: left;
  input {
    height: 30.5px;
    line-height: 30.5px;
  }
}